.offline[data-state="1"] {
    display: none;
}

.offline[data-state="0"] {
    display: block;
}

button[data-state="0"] {
    display: none;
}

button[data-state="1"] {
    display: block;
}

.open[data-state="0"],
.close[data-state="1"] {
    display: none;
}

.open[data-state="1"],
.close[data-state="0"] {
    display: inline;
}