* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, serif;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #120d0d;
}

/* Images preloader */
body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(img/balance.svg) url(img/camera.svg) url(img/coriolis.svg) url(img/engine.svg) url(img/galaxy.svg) url(img/larrow.svg) url(img/rarrow.svg) url(img/system.svg) url(img/systems.svg) url(img/weapons.svg) url(img/backspace.svg);
}

button:focus {
    outline: 0;
}

.panel {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.panel[data-state="1"] {
    display: flex;
}

.panel__error {
    flex-direction: column;
    color: #ec8621;
    font-size: 4vw;
    line-height: 30vh;
    align-items: center;
}

.panel__error::after {
    background-image: url(img/coriolis.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 50%;
    height: 50%;
    content: '';
    animation: rotating 60s linear infinite;
}

.sub {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub_wrapper {
    position: relative;
}

@media (orientation: landscape) {
    .panel__flying {
        flex-direction: row;
    }

    .sub {
        width: 50%;
    }

    .sub_wrapper {
        width: 50vw;
        height: 50vw;
        max-width: 100vh;
        max-height: 100vh;
    }
}

@media (orientation: portrait) {
    .panel__flying {
        flex-direction: column;
    }

    .sub {
        width: 100%;
        height: 50%;
    }

    .sub_wrapper {
        width: 50vh;
        height: 50vh;
        max-height: 100vw;
    }
}

.sub_around,
.sub_main {
    background-color: #331914;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    color: #ec8621;
}

.sub_around[data-state="1"],
.sub_main[data-state="1"] {
    background-color: #ec8621;
    color: #331914;
}

.sub_around {
    width: 20%;
    height: 20%;
    top: 5%;
    left: 40%;
    transform-origin: center 226%;
    font-size: 4vmin;
}

.sub_main {
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    transform-origin: center center;
    font-size: 6vmin;
}

.sub_main:active {
    transform: scale(.9);
}

.sub_main::after {
    mask-size: 80% 80%;
    -webkit-mask-size: 80% 80%;
}

.sub_around__icon::after,
.sub_main__icon::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: #ec8621;
    border: 0;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}

.sub_around__icon-small::after {
    mask-size: 40% 40%;
    -webkit-mask-size: 40% 40%;
}

.sub_around__icon-big::after {
    mask-size: 60% 60%;
    -webkit-mask-size: 60% 60%;
}

.sub_main__icon::after {
    mask-size: 80% 80%;
    -webkit-mask-size: 80% 80%;
}

.sub_around__icon[data-state="1"]::after,
.sub_main__icon[data-state="1"]::after {
    background-color: #331914;
}

.sub_around__a:active {
    transform: scale(.9);
}

.sub_around__b {
    transform: rotate(40deg);
}

.sub_around__b:active {
    transform: rotate(40deg) scale(.9);
}

.sub_around__c {
    transform: rotate(80deg);
}

.sub_around__c:active {
    transform: rotate(80deg) scale(.9);
}

.sub_around__d {
    transform: rotate(120deg);
}

.sub_around__d:active {
    transform: rotate(120deg) scale(.9);
}

.sub_around__e {
    transform: rotate(160deg);
}

.sub_around__e:active {
    transform: rotate(160deg) scale(.9);
}

.sub_around__f {
    transform: rotate(200deg);
}

.sub_around__f:active {
    transform: rotate(200deg) scale(.9);
}

.sub_around__g {
    transform: rotate(240deg);
}

.sub_around__g:active {
    transform: rotate(240deg) scale(.9);
}

.sub_around__h {
    transform: rotate(280deg);
}

.sub_around__h:active {
    transform: rotate(280deg) scale(.9);
}

.sub_around__i {
    transform: rotate(320deg);
}

.sub_around__i:active {
    transform: rotate(320deg) scale(.9);
}

/* ====================================================== */

.system__b::after {
    mask-image: url(img/balance.svg);
    -webkit-mask-image: url(img/balance.svg);
}

.system__e::after {
    mask-image: url(img/engine.svg);
    -webkit-mask-image: url(img/engine.svg);
}

.system__w::after {
    mask-image: url(img/weapons.svg);
    -webkit-mask-image: url(img/weapons.svg);
}

.system__s::after {
    mask-image: url(img/systems.svg);
    -webkit-mask-image: url(img/systems.svg);
}

.system__we::after,
.system__sw::after,
.system__es::after {
    mask-image: url(img/rarrow.svg);
    -webkit-mask-image: url(img/rarrow.svg);
}

.system__ew::after,
.system__ws::after,
.system__se::after {
    mask-image: url(img/larrow.svg);
    -webkit-mask-image: url(img/larrow.svg);
}

.camera::after {
    mask-image: url(img/camera.svg);
    -webkit-mask-image: url(img/camera.svg);
}

.galaxy::after {
    mask-image: url(img/galaxy.svg);
    -webkit-mask-image: url(img/galaxy.svg);
}

.system::after {
    mask-image: url(img/system.svg);
    -webkit-mask-image: url(img/system.svg);
}

.backspace::after {
    mask-image: url(img/backspace.svg);
    -webkit-mask-image: url(img/backspace.svg);
}
