* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #120d0d;
}

/* Images preloader */
body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(img/cargo-scoop.svg) url(img/coriolis.svg) url(img/flight-assist-off.svg) url(img/fsd.svg) url(img/fsd-masslocked.svg) url(img/hardpoints.svg) url(img/heatsink.svg) url(img/heatsink-overheat.svg) url(img/landing-gear.svg) url(img/lights.svg) url(img/night-vision.svg) url(img/silent-running.svg) url(img/supercruise.svg);
}

.panel {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.panel[data-state="1"] {
    display: flex;
}

.panel__error {
    flex-direction: column;
    color: #ec8621;
    font-size: 4vw;
    line-height: 30vh;
    align-items: center;
}

.panel__error::after {
    background-image: url(img/coriolis.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 50%;
    height: 50%;
    content: '';
    animation: rotating 60s linear infinite;
}

.panel__flying {
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
}


.button {
    background-color: #331914;
    text-align: center;
    position: relative;
    color: #ec8621;
    width: 50%;
    height: 20%;
    background-clip: content-box;
    border-color: transparent;
    border-style: solid;
    display: flex;
    white-space: nowrap;
}

.button:nth-child(2n-1) {
    border-right-width: .5vh;
    border-left-width: 1vh;
}

.button:nth-child(2n) {
    border-left-width: .5vh;
    border-right-width: 1vh;
}

.button:nth-child(-n+8) {
    border-bottom-width: .5vh;
}

.button:nth-child(n+3) {
    border-top-width: .5vh;
}

.button:nth-child(-n+2) {
    border-top-width: 1vh;
}

.button:nth-child(n+9) {
    border-bottom-width: 1vh;
}

.button:active {
    transform-origin: center center;
    transform: scale(.9);
}

.button[data-state="1"] {
    color: #000;
    background-color: #ec8621;
}

.button::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: #ec8621;
    border: 0;
}

.button[data-state="1"]::after {
    background-color: #000;
}


@media (orientation: landscape) {
    .button {
        font-size: 4vh;
        line-height: 4vh;
        justify-content: center;
        align-items: center;
    }

    .button::after {
        mask-size: auto 70%;
        mask-position: 1vw center;
        -webkit-mask-size: auto 70%;
        -webkit-mask-position: 1vw center;
    }

    .button__flight-assist-off::before {
        right: 1vh;
        top: 1vh;
    }
}

@media (orientation: portrait) {
    .button {
        font-size: 2vh;
        line-height: 4vh;
        justify-content: center;
        align-items: flex-start;
    }

    .button::after {
        mask-size: 50% 50%;
        mask-position: center;
        -webkit-mask-size: 50% 50%;
        -webkit-mask-position: center;
    }

    .button__flight-assist-off::before {
        bottom: 0;
    }
}


.button__supercruise::after {
    mask-image: url(img/supercruise.svg);
    -webkit-mask-image: url(img/supercruise.svg);
}

.button__fsd::after {
    mask-image: url(img/fsd.svg);
    -webkit-mask-image: url(img/fsd.svg);
}

.button__landing-gear::after {
    mask-image: url(img/landing-gear.svg);
    -webkit-mask-image: url(img/landing-gear.svg);
}

.button__cargo-scoop::after {
    mask-image: url(img/cargo-scoop.svg);
    -webkit-mask-image: url(img/cargo-scoop.svg);
}

.button__silent-running::after {
    mask-image: url(img/silent-running.svg);
    -webkit-mask-image: url(img/silent-running.svg);
}

.button__heatsink::after {
    mask-image: url(img/heatsink.svg);
    -webkit-mask-image: url(img/heatsink.svg);
}

.button__flight-assist-off::after {
    mask-image: url(img/flight-assist-off.svg);
    -webkit-mask-image: url(img/flight-assist-off.svg);
}

.button__hardpoints::after {
    mask-image: url(img/hardpoints.svg);
    -webkit-mask-image: url(img/hardpoints.svg);
}

.button__lights::after {
    mask-image: url(img/lights.svg);
    -webkit-mask-image: url(img/lights.svg);
}

.button__night-vision::after {
    mask-image: url(img/night-vision.svg);
    -webkit-mask-image: url(img/night-vision.svg);
}

.button__supercruise[data-state="1"]::after {
    animation: rotating 60s linear infinite;
}

.button__fsd[data-state="2"]::after {
    animation: blink .5s linear infinite;
}

.button__fsd[data-state="3"]::after {
    mask-image: url(img/fsd-masslocked.svg);
    -webkit-mask-image: url(img/fsd-masslocked.svg);
    background-color: #f00;
}

.button__fsd[data-state="4"]::after {
    background-color: #bbf;
    animation: flick 1s linear infinite;
}


.button__flight-assist-off {
    flex-direction: row-reverse;
}

.button__flight-assist-off::before {
    content: "ON";
    color: dodgerblue;
    display: inline;
    position: absolute;
}

.button[data-state="1"].button__flight-assist-off {
    background-color: #331914;
    color: #ec8621;
}

.button[data-state="1"].button__flight-assist-off::before {
    content: "OFF";
    color: red;
    display: inline;
}

.button[data-state="1"].button__flight-assist-off::after {
    background-color: #ec8621;
}


.button[data-state="1"].button__heatsink {
    background-color: #331914;
    color: #ec8621;
}

.button[data-state="1"].button__heatsink::after {
    mask-image: url(img/heatsink-overheat.svg);
    -webkit-mask-image: url(img/heatsink-overheat.svg);
    background-color: #ff4d00;
    animation: blink .5s linear infinite;
}


@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes flick {
    from {
        opacity: 1;
    }
    to {
        opacity: .5;
    }
}